.addpet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem 2rem 2rem;
    gap: 1rem;

    form {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;

        &>div {
            width: max-content;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            align-items: flex-start;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
            padding: 2rem;
            border-radius: 15px;

            input {
                padding: 0.4rem;
                border-radius: 0.2rem;
                border: 1px solid gray;
                outline: none;
            }

            &>button {
                background-color: green;
                padding: 0.4rem 1rem;
                font-size: 14px;
                font-weight: bold;
                color: white;
                border-style: none;
                border-radius: 5px;
                align-self: flex-end;
            }
        }
    }

    &_range {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    &>div {
        padding: 2rem 0rem;
        width: 50%;
        border-radius: 20px;
        & > div{
            display: none;
        }
    }

    
}